body{
    margin: 0;
}
a {
text-decoration: none;
}

.container{
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-flow: column nowrap; */
    justify-content:space-between;
    align-items: center;
    /* top: 0; */
    /* width: 100% */
    /* left: 0; */
    /* right: 0; */
    /* height: 75px; */
    /* padding: 1rem; */
    background: navy;   
    padding: 8px 12px; 
}

.item1{
 padding-top: 10px;
}
.item2{
    display: flex;
    list-style: none;
    padding-left: 0;
  }
.li1:hover{
    background-color: white;
    border-radius: 3px;
    color: black;
}
.item2 li{
    padding: 10px 10px;
    color: white;
}
.item3{
    display: flex;
    list-style: none;
    color: white;
    padding-left: 0;
}
.item3 li {
    padding: 5px 5px; 
}
.hamburger{ 
    display: none;
    color: white;
    list-style: none;
    position: absolute;
    right: 20px;
    top: 15px;
}


@media screen and (max-width: 530px) {
.container{
    flex-direction: column;
    align-items: flex-start;
}
.item2{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.item2 li{
    width: 100%;
    text-align: center;
}
.item3{
    display: none;
    justify-content: center; 
    width: 100%;
}
.hamburger{
    display: block;
}

.item2.active, 
.item3.active {
    display: flex;
}

}